/*GENERAL*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #f6f6f6;
}

a {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/*--HEADER--*/

.header {
    background-color: #00916E;
    width: 100%;
    margin: auto;
}

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 20px 0;
}

.nav-main a {
    font-size: large;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    display: flex;
    align-items: center;
}

.nav-main ul li a:hover {
    color: rgba(3, 88, 29, 0.87);
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.nav-main ul.nav-ini {
    margin: 0 0 0 0;
}

.nav-main ul.nav-ini li.logged-out {
    margin: auto;
}

.nav-main ul.nav-ini li.logged-in {
    margin: auto;
}

.nav-brand {
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
}

/*--PAGE--*/

/*-HOME-*/

.cover img {
    margin-left: 15%;
    width: 70%;
}
.cover h6{
    color: #393fff;
}
.rectangulo {
    width: auto;
    height: auto;
    border: 3px solid #00916E;
    margin: 1rem 35% 3rem 35%;
    background-color: white;
    text-align: center;
    border-radius: 1.8em;
}

.logo {
    width: 150px;
    height: 150px;
    margin: auto;
}

.cover-rec {
    width: 100%;
    height: 100px;
    background-color: #e3edee;
    border: none;
    border-bottom: 2px solid #00916E;
    border-radius: 1.8em;
}

input[type=email] {
    border: none;
    border-bottom: 2px solid #00916E;
    margin: 1rem;
    width: 200px;
}

input[type=password] {
    border: none;
    border-bottom: 2px solid #00916E;
    margin: 1rem;
    width: 200px;
}
input[type=text] {
    border: none;
    border-bottom: 2px solid #00916E;
    margin: 1rem;
    width: 200px;
}

/*-BOTONES- */

.btn-choice {
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 16px 0;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    width: 180px;
}

.btn-choice {
    background-color: white;
    color: black;
    border: 2px solid #34b176;
    margin: 1rem 0 1rem 0;
}

.btn-choice:hover {
    background-color: #00916E;
    color: white;
}

/*-USER BAR-*/

.action {
    position: fixed;
    top: 20px;
    right: 30px;
}

.action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu {
    position: absolute;
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    background: white;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
}

.action .menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    height: 20px;
    width: 20px;
    background: white;
    transform: rotate(45deg);
}

.action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
}

.action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}

.action .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .menu ul li:hover img {
    opacity: 1;
}

.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    transition: 0.5s;
}

.acion .menu ul li:hover a {
    color: #14bda1;
}

/*--FOOTER--*/

footer {
    background: #00916E;
    width: 100%;
    font-family: "Open Sans";
    color: white;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer_box {
    align-items: center;
}

.footer_box h4 {
    font-size: 40px;
    line-height: 70px;
    color: white;
    text-align: center;
}

.footer_box p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 28px;
    font-size: 17px;
    text-align: center;
}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social li {
    margin: 0 20px;
}

.social a {
    text-decoration: none;
    color: #fff;
}

.social a i {
    font-size: 2rem;
    transition: color .4s ease;
}

.social a:hover i {
    color: rgba(3, 88, 29, 0.87);
}

.footer-copyright {
    background: black;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.container {
    font-size: 17px;
    word-spacing: 2px;
    text-transform: capitalize;
}

