* {
    margin: 0;
    padding: 0;
}

/*Review*/
.newReview {
    margin: 0px 30px;
    font-family: Trebuchet Ms;
    color: black;
}

.newReview img {
    margin-left: 0px;
    margin-right: 25px;
    width: 160px;
    height: 170px;
    float: left;
}

.newReview h1 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 35px;
}

.newReview h2 {
    font-size: 25px;
}

.newReview h3 {
    font-size: 20px;
}

.newReview textarea {
    width: 75%;
    margin-left: 0px;
    font-size: 18px;
}

.tipoReseña {
    margin: 10px;
    display: flex;
}

.tipoReseña label {
    padding: 0 10px;
}

.reviewTitle{
    height: 20px;
    font-size: 18px;
    border-style: solid;
    border-color: #fcd882;
    color: white;
}

.btnNewReview {
    margin-top: 70px;
    background-color: white;
    color: black;
    border: 2px solid #fcd882;
    border-radius: 6px;
    padding: 16px 0;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 180px;
}

.btnNewReview:hover {
    background-color: #fcd882;
    color: white;
}

/*Star rate*/

.rate {
    margin-right: 74%;
    height: 50px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 40px;
    color: #eaeaea;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover, .rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover, .rate>input:checked+label:hover~label, .rate>input:checked~label:hover, .rate>input:checked~label:hover~label, .rate>label:hover~input:checked~label {
    color: #c59b08;
}

/*Reviews abogado*/
.content2 {
    background: #fcd882;
    max-width: 960px;
    margin: 30px auto;
    padding: 10px 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1)
}

.content2 ul {
    padding: 0;
}

.content2 li {
    padding: 20px;
    background: #3b4040;
    font-size: 20px;
    color: white;
    position: static;
    border-bottom: 2px solid #cecccc;
    height: auto;
}

.content2 li:nth-child(even) {
    padding: 20px;
    background: #3b4040;
}

.content2 li span {
    display: block;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

.content2 li span:nth-child(2) {
    font-size: 12px;
    margin-top: 5px;
    color: rgb(129, 129, 129);
}

.content2 li span:nth-child(3) {
    font-size: 15px;
    margin-top: 20px;
    color: white;
}

.content2 li span:nth-child(4) {
    font-size: 15px;
    margin-top: 10px;
    color: white;
}

.content2 li div {
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255, 255, 255, 0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
}

.threadTitle{
    box-sizing: border-box;
    font-family: oswald,sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.44px;
}

.bodyyy{
    padding: 20px;
}

.threadLine{
    background-color: #1c1c24;
    padding: 10px 20px;
    font-size: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #56747b;
}

.textArea2 {
    border: 3px solid #fad375;
    background: #3b4040;
    color: white;
    margin: 0px;
    margin-top: 20px;
    padding: 10px;
    width: 99%;
    font-size: 20px;
    height: 100px;
    text-align: start;
    resize: none;
    font-family: sans-serif;
    outline: none;
}

.threadLine a{
    all: revert;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #56747b;
    
}