/*GENERAL*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #EEEEEE;
}

a {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/*HEADER*/

.header {
    background-color: #00916E;
    width: 100%;
    margin: auto;
}

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 20px 0;
}

.nav-main a {
    font-size: large;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    display: flex;
    align-items: center;
}

.nav-main ul li a:hover {
    color: greenyellow;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.nav-brand {
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
}

/*HOME*/

.cover {
    background-color: gray;
    align-items: center;
}

.cover img {
    margin-left: 15%;
    width: 70%;
}

/*FOOTER*/

footer {
    background: #00916E;
    width: 100%;
    font-family: "Open Sans";
    color: white;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer_box {
    align-items: center;
}

.footer_box h4 {
    font-size: 40px;
    line-height: 70px;
    color: white;
    text-align: center;
}

.footer_box p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 28px;
    font-size: 17px;
    text-align: center;
}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social li {
    margin: 0 20px;
}

.social a {
    text-decoration: none;
    color: #fff;
}

.social a i {
    font-size: 2rem;
    transition: color .4s ease;
}

.social a:hover i {
    color: rgba(3, 88, 29, 0.87);
}

.footer-copyright {
    background: black;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.container {
    font-size: 17px;
    word-spacing: 2px;
    text-transform: capitalize;
}